<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Vault Device</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <header class="header">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Voice Vault</h1>
            <a href="{{ url_for('logout') }}" style="color: white; text-decoration: none;">
                <button type="button">Logout</button>
            </a>
        </div>
    </header>

    <div class="container">
        <section class="section">
            <h2>VM Configuration</h2>
            <form id="vmForm">
                <div class="form-group">
                    <input type="text" id="vmUrl" placeholder="Enter VM URL" required>
                    <button type="submit">Save Configuration</button>
                </div>
            </form>
            <div id="currentVM"></div>
        </section>

        <section class="section">
            <h2>Music Section</h2>
                <h3>Song Upload</h3>
                <input type="text" id="songName" placeholder="Enter Song Name" required>
                <input type="file" id="fileInput" accept=".mp3,.wav,audio/*">
                <button onclick="uploadSong()">Upload</button>
                <div id="status"></div>
                <h4>Uploaded Files:</h4>
                <ul id="fileList"></ul>
        </section>
    </div>

</body>

</html>